.NavBar-bottom {
    display: flex;
    justify-content: space-around;
    background-color: var(--HFG-footer-bg);
}

.NavBar-bottom__icon--color {
    color: var(--HFG-footer-icon);
    width: 16px;
    padding-top: 12px;
}