.game {
    border: 4px solid white;
    margin: 0;
    max-width: 100%;
}

.game__bg-img {
    max-width: 100%;
}

.game__details {
    /* align-items: flex-end; */

    display: flex;
    font-size: 14px;

    position: relative;
    height: 100%;
    
}
/* .game__details:nth-of-type(2){
    align-items: flex-end;
} */
.game__details--img{
    
    z-index: 1;
}
.game__details--txt{
    position: absolute;
    z-index: 2;
    /* max-width: 100%; */
    display: flex;
    align-items: flex-end;
    bottom: 0;
}
.game__details--txt h2{
    margin: 0;
    padding-left: 5px;
}
.game__details--release {
    padding-left: 5px;
    padding-bottom: 10px;
    text-align: left;
    /* font-size: 14px; */
    margin: 0;
}

.game__details--genre {
    margin: 0;
    padding-bottom: 10px;
    padding-right: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* padding-left: 16px; */
}

.game__details--genre li {
    padding: 2px;
}
.game__details--genre li p{
    margin: 0;
}
.game__screenshot {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}

.game__screenshot li {
    display: inline-block;
    height: 100%;
}

.game__screenshot-img {
    width: 100px;
    margin: 1px;
}