.home {
    margin: auto;
    width: 290px;
    border-radius: 8px;
    margin-bottom: 92px;
}

.home__title {
    color: var(--HFG-text-secondary);
    /* font-size: 28px; */
    letter-spacing: .4px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    background-color: var(--HFG-bg-light);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
}

.home__slogan {
    color: var(--HFG-text-tertiary);
    background-color: var(--HFG-bg-light);
}

.home__button {
    margin-bottom: 0px;
}