@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  /* VARIABLES DEBUT*/
  /* couleurs */
  --HFG-body-bg: #2e3238;
  --HFG-footer-bg: #29292D;
  --HFG-footer-icon: #fff;
  --HFG-bg-light: #D9D9D9;
  --HFG-text-primary: #fff;
  --HFG-text-secondary: #f47920;
  --HFG-text-tertiary: black;

  /* fonts */
  --HFG-font-menu: 'Roboto Condensed', sans-serif;
  --HFG-font-h1: 'Roboto', sans-serif;
  --HFG-font-h2-p-button: 'Open Sans', sans-serif;
  /* VARIABLES FIN*/
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--HFG-body-bg);
  color: var(--HFG-text-primary);
  font-size: 16px;
  box-sizing: border-box;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: var(--HFG-font-h1);
}

h2,
p,
button {
  font-family: var(--HFG-font-h2-p-button);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  /* font-size: 1em; */
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}

li {
  text-decoration: none;
}
